/*Background titulo Curriculum */

.title-background {
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 188px;
    background: #6a0ca0;
    }

/*Imagen CV */

.img-cv{
    position: absolute;
    width: 200px;
    height: 200px;
    left:570px;
    top: 20.91px;
    }

/*Banner*/

.banner{
    position: absolute;
    width: 1440px;
    height: 188.19px;
    left: 0px;
    top: 0px;
    background-image: url("../img/banner.webp");
    background-position: center;
    background-size: contain;
    }

.text-about-me{
    text-align: center;
}

.datos-personales {
    position: absolute;
    width: 1440px;
    height: 30px;
    left: 0px;
    top: 376px;
    }

.formacion-academica {
    position: absolute;
    width: 1440px;
    height: 30px;
    left: 0px;
    top: 518px;
    }

.experiencia-laboral {
    position: absolute;
    width: 1440px;
    height: 30px;
    left: 0px;
    top: 685px;
    }

ul{
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    }

.text-weight {
    font-weight: bold;
   
    line-height: 30px;;
    }

.title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 84.69%;
    color: #ffffff;
    }

.subtitle {
    width: 395.62px;
    height: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    color: #ffffff;
    }

.subtitle-background {
    background: #6a0ca0;
    }

.subtitle-center {
    margin-left: 15px;
    margin-top: 7px;
    }

.footer-background{
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 1000px;
    background-color: #6a0ca0;
    }

/*Links redes sociales*/

.icon-instagram {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 650px;
    top: 20px;
    }

  .icon-linkedin {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 680px;
    top: 20px;
    }

  .icon-github {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 710px;
    top: 20px;
    }
